header {
    background-color:rgb(21, 165, 165);
    color: black;
    padding: 10px;
    text-align: center 
}
h1{
    font-size: 60px;
}
nav a{
   text-decoration: underline;
    color: black;
}
nav ul{
    list-style-type: none;
    text-align: center;
    font-size: 25px;
}
nav li{
    display: inline;
    margin-right: 50px;
}
main{
    padding: 20px;
    color: rgb(238, 255, 0);
    text-align: center;
}
section{
    margin-bottom: 20px;
}
footer{
background-color: rgb(21, 165, 165);
color: black;
text-emphasis: none;
padding: 15px;
text-align: center;
}
p{
    color: black;
    font-size: 25px;
}
main h2{
    text-decoration: underline;
    font-size: 35px;
}

.foto{
    border-style: dotted;
    color: black;

}
body{
    background-color: aqua;
}
footer p{
    font-size: 30px;
}

